<a href="https://colab.research.google.com/github/msy-bilecik/ist204/blob/main/ist204_2024_3h.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DÖngüler

In [ ]:
import random

random.random()

0.17975830290548678

1 ile 1000 arasında rastgele seçilen bir sayınının tam bölenlerini listeleyen programını yazınız.

In [ ]:
sayi = random.randint(1,1000)
print("{} sayısının tam bölündüğü sayılar: ".format(sayi))
for i in range(1,sayi+1):
    if(sayi%i==0): # python girintiler ile bloklar oluşturulur.
        print(i)
    if(i==5):
        print("5. eleman.")

# for(int i=0; i <=1000;i++)
# {
#     if(sayi%i==0)
#     {
#         print(i)
#     }
# }

828 sayısının tam bölündüğü sayılar:
1
2
3
4
5. eleman.
6
9
12
18
23
36
46
69
92
138
207
276
414
828

In [ ]:
a = 0
while a < 100:
    print(a)
    a = a + 15

for i in range(0,100+1,15):
    print(i)

0
15
30
45
60
75
90
0
15
30
45
60
75
90

In [ ]:
for harfler in "linux":
    print(harfler)

l$
i$
n$
u$
x$

In [ ]:
sayi=int(input("bir sayı giriniz: "))
durum=True
for i in range(2,sayi):
    print(i,end=" - ")
    if(sayi%i==0):
        print("\n\n {} sayısına tam bölünür.".format(i))
        durum=False
        break

if(durum):
    print("sayı asaldır. ")
else:
    print("sayı asal değildir.")

bir sayı giriniz: 100
2 -

 2 sayısına tam bölünür.
sayı asal değildir.

In [ ]:
i=15
while i<1000:
    print(i,end="_")



    if(i%180 == 0):
        break

    if(i%60 == 0):
        i+=15
        print("60 da çık. ")
        continue

    print("bir sayı daha yazdık. ")
    i+=15

15_bir sayı daha yazdık.
30_bir sayı daha yazdık.
45_bir sayı daha yazdık.
60_60 da çık.
75_bir sayı daha yazdık.
90_bir sayı daha yazdık.
105_bir sayı daha yazdık.
120_60 da çık.
135_bir sayı daha yazdık.
150_bir sayı daha yazdık.
165_bir sayı daha yazdık.
180_


### ödev
pi sayısın ilk 100000 basamağı içinde klavyeden girilen bilgiyi arayan kodu yazınız.

## örnekler

In [ ]:
sayi=int(input("bir sayı giriniz:"))
i=0
print("*"*20)
while i<sayi-2:
    print("*",end="")
    print("-"*18,end="")
    print("*")
    i=i+1


print("*"*20)

bir sayı giriniz:6
********************
*------------------*
*------------------*
*------------------*
*------------------*
********************

In [ ]:
sayi=int(input("bir sayı giriniz:"))

# Listeler

In [ ]:
bizimListe=["Ali", "Veli", 49,50,63]  # tanımlama örneği
print(bizimListe)

print(bizimListe[2])  # elemana erişim örneği
bizimListe[2]=99      # dizinin belli elemanını değer atama
print(bizimListe[2])
print(bizimListe)  #dizinin tamamını yazdıkmak için.

['Ali', 'Veli', 49, 50, 63]
49
99
['Ali', 'Veli', 99, 50, 63]

In [ ]:
metin="Kara kara kartallar karlı iyi tarlalar ararlar. "
print(metin[6])   # bir stringin aslında bir karakter dizisi
                  # olduğunu gösterdik.

listeler ile ilgili fonksiyonlar

In [ ]:
bizimListe=["Ali", "Veli", ["Hatice","Veli"],49,50,63]  # tanımlama örneği
print(bizimListe)

bizimListe.append(66)
bizimListe.append(66)
bizimListe.append(88)
bizimListe.append(11)
bizimListe.append(44)

print(bizimListe)

bizimListe.insert(1,"Hatice")
print(bizimListe)
bizimListe.insert(1,"Ferda")
print(bizimListe)
bizimListe.insert(1,"Fatih")
print(bizimListe)


bizimListe.remove(["Hatice","Veli"])
print(bizimListe)

['Ali', 'Veli', ['Hatice', 'Veli'], 49, 50, 63]
['Ali', 'Veli', ['Hatice', 'Veli'], 49, 50, 63, 66, 66, 88, 11, 44]
['Ali', 'Hatice', 'Veli', ['Hatice', 'Veli'], 49, 50, 63, 66, 66, 88, 11, 44]
['Ali', 'Ferda', 'Hatice', 'Veli', ['Hatice', 'Veli'], 49, 50, 63, 66, 66, 88, 11, 44]
['Ali', 'Fatih', 'Ferda', 'Hatice', 'Veli', ['Hatice', 'Veli'], 49, 50, 63, 66, 66, 88, 11, 44]
['Ali', 'Fatih', 'Ferda', 'Hatice', 'Veli', 49, 50, 63, 66, 66, 88, 11, 44]

In [ ]:
liste = ["Hale", "Jale", "Lale", 12, 23, "Mehmet","Jale","Mehmet","Jale"]
l2=liste.copy()
print(liste)
yeni_liste = ["Simovic", "Prekazi", "Jardel", "Nouma"]
print(yeni_liste)

l2.extend(yeni_liste)
print(l2)

liste=liste+yeni_liste
print(liste)

['Hale', 'Jale', 'Lale', 12, 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale']
['Simovic', 'Prekazi', 'Jardel', 'Nouma']
['Hale', 'Jale', 'Lale', 12, 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale', 'Simovic', 'Prekazi', 'Jardel', 'Nouma']
['Hale', 'Jale', 'Lale', 12, 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale', 'Simovic', 'Prekazi', 'Jardel', 'Nouma']

In [ ]:
print(liste)
print(liste.pop())
print(liste)

print(liste.remove("Jale"))
print(liste)

print(liste.pop(2))
print(liste)

['Hale', 'Jale', 'Lale', 12, 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale', 'Simovic', 'Prekazi', 'Jardel', 'Nouma']
Nouma
['Hale', 'Jale', 'Lale', 12, 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale', 'Simovic', 'Prekazi', 'Jardel']
None
['Hale', 'Lale', 12, 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale', 'Simovic', 'Prekazi', 'Jardel']
12
['Hale', 'Lale', 23, 'Mehmet', 'Jale', 'Mehmet', 'Jale', 'Simovic', 'Prekazi', 'Jardel']

In [ ]:
liste = ["Hale", "Jale","Hüseyin", "Lale", "Mehmet","Jale","Mehmet","Jale"]
print(liste.index("Jale"))

print(liste)

liste.sort()
print(liste)

liste.reverse()
print(liste)

print(liste.count("Mehmet"))

1
['Hale', 'Jale', 'Hüseyin', 'Lale', 'Mehmet', 'Jale', 'Mehmet', 'Jale']
['Hale', 'Hüseyin', 'Jale', 'Jale', 'Jale', 'Lale', 'Mehmet', 'Mehmet']
['Mehmet', 'Mehmet', 'Lale', 'Jale', 'Jale', 'Jale', 'Hüseyin', 'Hale']
2
Hüseyin

In [ ]:
liste = ["Hale", "Jale","Hüseyin", "Lale", "Mehmet","Jale","Mehmet","Jale"]

print(liste[2:4])

print(liste[:5])
print(liste[3:])

['Hüseyin', 'Lale']
['Hale', 'Jale', 'Hüseyin', 'Lale', 'Mehmet']
['Lale', 'Mehmet', 'Jale', 'Mehmet', 'Jale']

In [ ]:
liste = ["elma", "armut", "kiraz", "karpuz", "kavun"]
print(liste)
liste[5:5] = ["domates", "salata"]
print(liste)

liste[3:3] = ["kebap", "lahmacun"]
print(liste)

liste[2] = ["ruj", "maskara", "rimel"]
print(liste)
print(liste[2][0])

liste[2:4]=[]
print(liste)

['elma', 'armut', 'kiraz', 'karpuz', 'kavun']
['elma', 'armut', 'kiraz', 'karpuz', 'kavun', 'domates', 'salata']
['elma', 'armut', 'kiraz', 'kebap', 'lahmacun', 'karpuz', 'kavun', 'domates', 'salata']
['elma', 'armut', ['ruj', 'maskara', 'rimel'], 'kebap', 'lahmacun', 'karpuz', 'kavun', 'domates', 'salata']
ruj
['elma', 'armut', 'lahmacun', 'karpuz', 'kavun', 'domates', 'salata']